/*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

@font-face {
  font-family: "main-font";
  src: url("./");
}

@font-face {
  font-family: "body-font";
  src: url("./");
}

/*Global*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  font-family: "body-font";
  background-image: url("./images/WALPAPER\ SMA.png");
  background-size: cover;
  background-repeat: no-repeat;
}

/*Overlay*/
.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  background-color: #ebfffe;
}
.overlay::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 20vw;
  height: 80vh;
  margin: auto;
  background-image: url("./images/overlay-left.png");
  background-size: 100% 100%;
}
.overlay::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 20vw;
  height: 80vh;
  margin: auto;
  background-image: url("./images/overlay-right.png");
  background-size: 100% 100%;
}
.overlay-text {
  position: absolute;
  left: 0;
  right: 0;
  top: 10vh;
  max-width: 20vw;
  margin: auto;
}
.overlay-logo {
  position: absolute;
  left: 0;
  right: 0;
  top: 50vh;
  max-width: 15vw;
  margin: auto;
}

/* SMA */
.sma{
  margin: 40px auto;
  text-align: center;
  font-weight: bold;
  max-width: 500px;
}
.sma .category-sma {
  font-size: 100px;
  color: blueviolet; /*sek gatau*/
}
.sma .rules {
  font-size: 30px;
  letter-spacing: 20px;
}
.besc-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 50vw;
  margin-top: 50px;
}
.content li {
  font-weight: bold;
  font-size: 18px;
  text-align: justify;
}

